<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" name="post-title" id="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input name="post-url" id="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
{{!-- for the # of objects in the array --}}
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{!-- iterate through posts array containing objects post from .get FindAll() --}}
    {{#each posts as |post|}}
    <li>
      {{!-- use post info partial to display formatted post object --}}
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>